:root {
  --primary: #4d493e;
  --onPrimary: #c8c2aa;
}

.icon{
  position: relative;
  bottom: 1px;
}

.button_icon {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  p{
    margin: 0;
  }
}

.content button {
  width: 80%;
}

hr {
  margin-inline: 8px 8px;
  border: 1px solid var(--primary);
}

.subtitle_content {
  font-weight: 600;
}


.text_content {
  width: 90%;
  height: 50vh;
  /* background-color: #cdcaa8; */
  border: 2px solid var(--primary);
  justify-self: center;
  /* margin: 0px 16px 16px 16px; */
  overflow: auto;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Estilos para la barra de desplazamiento en Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--onPrimary);

  h3 {
    margin: 0;
    padding: 8px 0px 8px 8px;
    background-color: var(--primary);
    color: var(--onPrimary);
    min-height: 22px;
  }

  p {
    margin: 8px;
    color: var(--primary);
  }

  .body_content {
    padding-bottom: 32px;
  }
}

.main {
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}