:root {
  --primary: #4d493e;
  --onPrimary: #c8c2aa;
  --buttonColor: rgba(77, 73, 62, 0.35);
}

.icon{
  position: relative;
  bottom: 1px;
}

.button_icon {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  p{
    margin: 0;
  }
}

.content button {
  width: 80%;
}

.contacts button{
  width: 90px;
}

hr {
  margin-inline: 8px 8px;
  border: 1px solid var(--primary);
}

.subtitle_content {
  font-weight: 600;
}


.text_content {
  width: 90%;
  height: 30vh;
  /* background-color: #cdcaa8; */
  border: 2px solid var(--primary);
  justify-self: center;
  /* margin: 0px 16px 16px 16px; */
  overflow: auto;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Estilos para la barra de desplazamiento en Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--onPrimary);

  h3 {
    margin: 0;
    padding: 8px 0px 8px 8px;
    background-color: var(--primary);
    color: var(--onPrimary);
    min-height: 22px;
  }

  p {
    margin: 8px;
    color: var(--primary);
  }

  .body_content {
    padding-bottom: 32px;
  }
}

.buttons_column{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 12px;
  padding-bottom: 12px;
}

.main {
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

/* Skills Style */

/* Arreglar Para Sobre mi */
/* .text_content{
  display: none;
} */

.main{
  a{
    width: 95%;
  }
}

#button1:target,
#button2:target,
#button3:target,
#button4:target,
#button5:target,
#button6:target{
  display: block;
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}