---
import '../styles/glitch.css';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div title="404$#%$#" class="error">
        <h1>404</h1>
        <p>Page not found</p>
    </div>
</BaseLayout>