---
import Contact from "../components/Contact.astro";
import Content from "../components/Content.astro";

const pageTitle = "Gabriel Gomez";
const rol = "- Desarrollador Android";
const body1 =
    "Con más de dos años de experiencia en el desarrollo de aplicaciones móviles para Android utilizando Kotlin y Android SDK, así como habilidades en el backend con Java y Spring Boot.";
const body2 =
    "Actualmente, me encuentro finalizando la Tecnicatura en Desarrollo de Aplicaciones Móviles en la Universidad Nacional de La Matanza (UNLaM).";

---
<Content title={pageTitle} subtitle={rol} id="home">
    <div class="main" >
        <p>{body1}<br />{body2}</p>
        <img src="/favicon.svg" alt="Profile" />
        
        <Contact  />
    </div>
</Content>

<style>
    .main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px;
        margin-left: 16px;
        margin-right: 16px;
    }

    img {
        width: 300px;
        height: 300px;
        justify-self: center;
    }

    @media (min-width: 1024px) {
        .main {
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        }
    }
</style>
    