---
import BaseLayout from "../layouts/BaseLayout.astro";
import ButtonNier from "../components/ButtonNier.astro";

const pageTitle = "Página de inicio";
---

<BaseLayout pageTitle={pageTitle}>
    <main>
        <div class="container">
            <h1>
                <span>Gabriel Gomez</span>
                <br />
                <small> Desarrollador Android</small>
            </h1>
            <div class="content">
                <p>lorem</p>

                <ButtonNier text="Titi" />
                <h1>ASDASDSA <span>KKKKKKASd</span></h1>
            </div>
        </div>
    </main>
</BaseLayout>
