---
import ItemProject from "../components/ItemProject.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Proyectos";
const subtitle = "";

const projects = [
    {
        title: "TripOut",
        description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore enim saepe at quis exercitationem quia molestias sed ex minus? Veniam, delectus ea debitis neque doloremque earum eius maxime dolorum officiis!",
        tecnologies: ["Kotlin", "Android", "Google Maps Api", "Coroutines", "Retrofit", "Material Design", "Clean Architecture", "MVVM", "Repository Pattern", "Dependency Injection", "Unit Testing"],
        image: "https://via.placeholder.com/300",
        link: "https://github.com/GabrielGomezGG/TripOut"
    },
    {
        title: "TripOut",
        description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore enim saepe at quis exercitationem quia molestias sed ex minus? Veniam, delectus ea debitis neque doloremque earum eius maxime dolorum officiis!",
        tecnologies: [""],
        image: "https://via.placeholder.com/300",
        link: "https://github.com/GabrielGomezGG/TripOut"
    },
    {
        title: "TripOut",
        description: "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore enim saepe at quis exercitationem quia molestias sed ex minus? Veniam, delectus ea debitis neque doloremque earum eius maxime dolorum officiis!",
        tecnologies: [""],
        image: "https://via.placeholder.com/300",
        link: "https://github.com/GabrielGomezGG/TripOut"
    },
    
    
];
---
<BaseLayout title={title} subtitle={subtitle}>
    <div class="projects">
        {
            projects.map((project) => (
                <ItemProject project={project} />
            ))
        }
    </div>
</BaseLayout>

<style>
    .projects {
        padding-left: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
</style>

