---
import Content from "../components/Content.astro";
import ItemProject from "../components/ItemProject.astro";

const title = "Proyectos";
const subtitle = "";

const projects = [
    {
        title: "TripOut",
        description: "TripOut es tu compañero de viaje personal, donde puedes planificar, compartir y descubrir nuevas aventuras. Crea fácilmente viajes personalizados, desde el destino hasta la fecha, compártelos con amigos y familiares, y recibe recomendaciones de viajes cercanos para ampliar tus horizontes.",
        tecnologies: ["Kotlin", "Android","Jetpack Compose", "Google Maps Api", "Coroutines", "Retrofit", "Material Design", "Clean Architecture", "MVVM", "Repository Pattern", "Dependency Injection", "Unit Testing"],
        image: "/trip_out.webp",
        link: "https://github.com/GabrielGomezGG/TripOut"
    },
    {
        title: "Say GG",
        description: "Say GG es una aplicación que te conecta con la emoción de los torneos de videojuegos. Utilizando la API de GraphQL de start.gg, te permite buscar torneos, recibir recomendaciones basadas en tu ubicación actual y explorar detalles de cada torneo. Say GG te ofrece una experiencia personalizada y segura para disfrutar al máximo del mundo de los eSports.",
        tecnologies: ["Kotlin", "Android", "Jetpack Compose", "GraphQL", "Apollo Client", "Dependency Injection", "MVVM", "Repository Pattern", "Coil", "Material Design", "Clean Architecture"],
        image: "/startgg.webp",
        link: "https://github.com/GabrielGomezGG/SayGG"
    },
    {
        title: "GameApp",
        description: "App que muestra un listado de juegos gratis para todas las plataformas. Contiene 2 minijuegos: “QuizGame” y “Who game?”",
        tecnologies: ["Kotlin", "Android", "Jetpack Compose", "Coroutines", "Retrofit", "Material Design", "Clean Architecture", "MVVM", "Repository Pattern", "Dependency Injection", "Fragment", "ViewBinding"],
        image: "/game_app.webp",
        link: "https://github.com/GabrielGomezGG/TripOut"
    },
    
    
];
---
<Content title={title} subtitle={subtitle}>
    <div class="projects">
        {
            projects.map((project) => (
                <ItemProject project={project} />
            ))
        }
    </div>
</Content>

<style>
    .projects {
        padding-left: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
    }

    @media (width > 1024px) {
        .projects {
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            align-items: none;
        }
    }
</style>

