---
import Pattern from "./Pattern.astro";
import Title from "./Title.astro";

const { title, subtitle } = Astro.props;
---

<Title title={title} subtitle={subtitle} />
<div class="content">
    <slot />
</div>
<Pattern />
