---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import Pattern from "./Pattern.astro";
---

<header id="home">
    <nav>
        <!-- <Hamburger /> -->
        <Navigation />
        <Pattern />
    </nav>
</header>
