---
import ButtonNier from "./ButtonNier.astro";

const links = [
    { href: "/", text: "Inicio" },
    { href: "/proyectos", text: "Proyectos" },
    { href: "/sobremi", text: "Sobre mi" },
    { href: "/habilidades", text: "Habilidades" },
];
---

<div class="nav-links">
    {
        links.map((link) => (
            <a href={link.href}><ButtonNier text={link.text} /></a>
        ))
    }
</div>

<style>
    .nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        list-style: none;
        row-gap: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    @media screen and (min-width: 768px) {
        .nav-links {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
            grid-template-rows: 1fr;
        }
    }
</style>
