---
import ButtonNier from "./ButtonNier.astro";

const buttonSize = "5em";

const links = [
    { href: "#home", text: "Inicio" },
    { href: "#projects", text: "Proyectos" },
    { href: "#aboutme", text: "Sobre mi" },
    { href: "#skills", text: "Habilidades" },
];
---

<div class="nav-links">
    {
        links.map((link) => (
            <a href={link.href}><ButtonNier text={link.text} size={buttonSize} /></a>
        ))
    }
</div>

<style>
    .nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        list-style: none;
        row-gap: 1rem;
        margin-bottom: 0.5rem;
    }

    @media screen and (min-width: 768px) {
        .nav-links {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
            grid-template-rows: 1fr;
        }
    }
</style>
