---
import ButtonNier from "./ButtonNier.astro";

---
<div class="navigation">
    <a href="/"><ButtonNier text="Inicio" /></a>
    <a href="/proyectos"><ButtonNier text="Proyectos"/></a>
    <a href="/sobremi"><ButtonNier text="Sobre mi"/></a>
    <a href="/habilidades"><ButtonNier text="Habilidades"/></a>
</div>

<style>

    a{
        text-decoration: none;
    }

</style>
