---
import BaseLayout from "./BaseLayout.astro";
import ItemsButton from "../components/ItemsButton.astro";
import ItemBody from "../components/ItemBody.astro";
import Content from "../components/Content.astro";

const { title, items } = Astro.props;
---

<Content title={title}>
    <div class="main">
        <!-- <ItemsButton items={items} /> -->
        <ItemBody items={items} />
    </div>
</Content>
