---
import Header from "../components/Header.astro";
import Pattern from "../components/Pattern.astro";
import Content from "../components/Content.astro";
import Title from "../components/Title.astro";
import '../styles/global.css';

const {title, subtitle} = Astro.props;
const pageTitle = "Gabriel Gomez";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<main>
			<Title title={title} subtitle={subtitle} />
			<Content>
				<slot />
			</Content>
		</main>
		<Pattern />
	</body>
</html>

<style lang="scss" is:global>
	$bgColor: #c8c2aa;
	$color: #4d493e;
	$letterSpacing: 0.1rem;
	$boxShadow: 3px 3px 0 rgba($color, 0.6);

	*:focus {
		outline: none !important;
	}

	a {
		text-decoration: none;
	}

	body {
		background-color: $bgColor;
		background-size: 4px 4px;
		background-image: linear-gradient(
				90deg,
				transparent,
				transparent 3px,
				rgba(0, 0, 0, 0.07) 4px
			),
			linear-gradient(
				transparent,
				transparent 3px,
				rgba(0, 0, 0, 0.07) 4px
			);
		color: $color;
		font-family: "Noto Sans", sans-serif;
		font-weight: 300;
		margin: 0;
		// min-height: 100vh;
		// box-shadow:
		// 	inset 0 0 150px rgba($color, 0.4),
		// 	inset 0 0 150px rgba($color, 0.3);

		box-shadow:
			inset 15px 0 15px -15px rgba(0, 0, 0, 0.5),
			inset -15px 0 15px -15px rgba(0, 0, 0, 0.5);

		min-height: 100vh;
		letter-spacing: $letterSpacing;
	}

	h1 {
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 0.5rem;
		text-shadow: 0.3rem 0.3rem 0 rgba(77, 73, 62, 0.3);
		margin-bottom: 0;
		margin-top: 0;
	}
	small {
		&::before {
			content: "";
		}
		font-weight: 500;
		letter-spacing: $letterSpacing;
		font-size: 1.4rem;
	}

	main {
		// padding-left: 1rem;
	}

	.content {
		margin-left: 0.7rem;
		padding-left: 1rem;
		background-image: linear-gradient(
			90deg,
			rgba($color, 0.2),
			rgba($color, 0.2) 14px,
			transparent 14px,
			transparent 20px,
			rgba($color, 0.2) 20px,
			rgba($color, 0.2) 23px,
			transparent 23px
		);
		margin-bottom: 2rem;
	}

	img {
		box-shadow: $boxShadow;
	}

	.title {
		display: flex;
		flex-direction: column;
		padding-left: 1rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	@media (min-width: 600px) {
		body {
			padding-inline: 3rem;
		}
		.title {
			flex-direction: row;
			align-items: center;
		}
	}
	@media (min-width: 1024px) {
		body {
			padding-inline: 10rem;
		}
	}
</style>